html, body{
	height: 96%;
}
#top{
	width: 100%;
	height: 50px;
	background-color: black;
}

#left{
	width: 50px;
	background-color: black;
	height: 100%;
	padding-top: 50px;
	display: inline-block;

}

#center{
 	display: inline-block;
	margin: 0 auto;
	
}

.topIcon{
	width: 50px;
	height: 50px;
	float: right;
	background-color: black;
	margin-right: 50px;
	font-size : 45px;
	color : white;
}

.topHome{
	width: 50px;
	height: 50px;
	background-color: black;
	margin : 0 auto;
	font-size : 45px;
	color : white;

}

.leftIcon{
	width: 50px;
	height: 50px;
	background-color: black;
	margin-bottom : 50px;
	font-size : 45px;
	color : white;
}